# idea
.idea/
tree.txt
*/tree.txt

# vscode
.vscode

# product
target/
*/target/
*/*/target/
out/
dependency-reduced-pom.xml
*/dependency-reduced-pom.xml
*/*/dependency-reduced-pom.xml

*.iml
*/*.iml
*/*/*.iml

# dataset source files
CubeRepo/
datasetSource/

# log file
cool.log
*/cool.log

.DS_Store
NOTICE
