# idea
.idea/

# product
target/
*/target/
*/*/target/
out/
dependency-reduced-pom.xml
*/dependency-reduced-pom.xml
*/*/dependency-reduced-pom.xml

*.iml
*/*.iml
*/*/*.iml

# dataset source files
datasetSource1/

.DS_Store
NOTICE
